<!-- <table class="table">
    <thead>
      <tr>
        <th>id</th>
        <th>titre</th>
        <th>description</th>
        <th>date de commissions</th>
        <th>nombre de jury</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{cachier.id}}</td>
        <td>{{cachier.titre}}</td>
        <td>{{cachier.description}}</td>
        <td>{{cachier.dateCommissions}}</td>
        <td>{{cachier.NomberJury}}</td>
        <td> <span class="badge badge-success" *ngIf="commissions.isValid==true">
        valide
           
          </span><span class="badge badge-danger" *ngIf="commissions.isValide==false">
            invalide
             
            </span></td>
        <td>{{commissions.createdAt}}</td>

      </tr>
     
    </tbody>
  </table> -->
