<section>
    <h3> Commissions</h3>
        <clr-datagrid>
          <clr-dg-action-bar>
            <div class="btn-group">
              <button type="button" class="btn btn-sm btn-secondary"  routerLink="add-Commissions" >
                <cds-icon shape="plus"></cds-icon>
                Ajouter commissions
              </button>
              <!--
               <button type="button" class="btn btn-sm btn-secondary" (click)="show = true">
                <cds-icon shape="close"></cds-icon>
                Delete
              </button>
              <button type="button" class="btn btn-sm btn-secondary" >
                <cds-icon shape="pencil"></cds-icon>
                Edit
              </button>-->
               
            </div>
            </clr-dg-action-bar>
            <clr-dg-column [clrDgField]="'titre'">Id</clr-dg-column>
        <clr-dg-column [clrDgField]="'titre'">Titre </clr-dg-column>
        <clr-dg-column [clrDgField]="'description'">Description</clr-dg-column>
        <clr-dg-column [clrDgField]="'date de commissions'">Date de commissions</clr-dg-column>
        
        <clr-dg-column [clrDgField]="'nombre de jury'">Action</clr-dg-column>
    
      
        <clr-dg-row *ngFor="let item of commissions ">
          <clr-dg-cell >{{item.id}}</clr-dg-cell>

          <clr-dg-cell >{{item.titre}}</clr-dg-cell>
          <clr-dg-cell  routerLink="detail-commissions/{{item.id}}">{{item.description}}</clr-dg-cell>
           <clr-dg-cell  routerLink="detail-commissions/{{item.id}}">{{item.dateCommissions}}</clr-dg-cell>
        
          <clr-dg-cell>
            <div class="btn-group btn-primary">
              
          <button class="btn" routerLink="detail-Commissions/{{item.id}}"><cds-icon shape="details"></cds-icon></button>
              <button class="btn btn-success" routerLink="update-Commissions/{{item.id}}"><cds-icon shape="pencil"></cds-icon></button>
              <button class="btn btn-danger"(click)="deleteAction(item.id)"><cds-icon shape="trash"></cds-icon></button>
            </div>
          </clr-dg-cell>
          <!-- Add more cells for other properties -->
        </clr-dg-row>
        <clr-dg-footer></clr-dg-footer>
      </clr-datagrid>
    </section>
    
    <app-deletecommissions [commissionsId]="commissionsId"  (closed)="closeAction()"  (saved)="saveAction()" *ngIf="show"></app-deletecommissions> 
      