<table class="table table-vertical">
    <tbody>
      <tr>
        <th>Titre</th>
        <td>{{demande.titre}}</td>
      </tr>
      <tr>
        <th>Description</th>
        <td>{{demande.description}}</td>
      </tr>
      <tr>
        <th>type</th>
        <td>{{demande.type}}</td>
      </tr>
      <tr>
        <th>prix</th>
        <td>{{demande.price}}</td>
      </tr>
      <tr>
        <th>Responsable</th>
        <td>{{demande.responsable}}</td>
      </tr>

    </tbody>
  </table>
