<section>
  <h1> Gérer des Utilisateurs</h1>
  <clr-datagrid >
    <clr-dg-action-bar>
      <div class="btn-group large-screen">
          <button type="button" class="btn btn-sm btn-secondary" routerLink="add-user">
              <clr-icon shape="plus"></clr-icon> Ajouter User
          </button>
      </div>
  </clr-dg-action-bar>
    <clr-dg-column >
      <ng-container >
        Id
      </ng-container>
    </clr-dg-column>
    <clr-dg-column >
      <ng-container >
      Prenom
      </ng-container>
    </clr-dg-column>
  

    <clr-dg-column [clrDgField]="'dueDate'">
      <ng-container >
    Role de utilisateur
    </ng-container>
      <clr-dg-filter>
      
      </clr-dg-filter>
    </clr-dg-column>

    <clr-dg-column >
      <ng-container >
     Action 
    </ng-container>
      <clr-dg-filter >

      </clr-dg-filter>
    </clr-dg-column>
     <clr-dg-placeholder>Nous n'avons trouvé aucun Utilisateur !</clr-dg-placeholder> 
  <clr-dg-row *ngFor="let user of users">
      
      <!-- <clr-dg-action-overflow >
        <button class="action-item" >Détails</button>
        <button class="action-item"  routerLink="update-user/{{id}}">Modification</button>
        <button class="action-item"  (click)=delete()>Suppression</button>
      </clr-dg-action-overflow> -->
      <clr-dg-cell  class="cursor-pointer" routerLink="#">{{user.id}}</clr-dg-cell>
      <clr-dg-cell  class="cursor-pointer" routerLink="#"  >{{user.name}}</clr-dg-cell>
      <clr-dg-cell  class="cursor-pointer" routerLink="#" > <span class="badge badge-success">
        {{user.role}} </span></clr-dg-cell>

      <clr-dg-cell>
        <div class="btn-group btn-primary">
          <button class="btn " routerLink="detail-user/{{user.id}}"><cds-icon shape="details"></cds-icon>

          </button>

          <button class="btn btn-success" routerLink="update-user/{{user.id}}"><cds-icon shape="pencil"></cds-icon></button>
          <button class="btn btn-danger"(click)="delete(user.id)"><cds-icon shape="trash"></cds-icon></button>
        </div>
      </clr-dg-cell>
    </clr-dg-row>
    <clr-dg-footer>
   
      <clr-dg-pagination  >
        <clr-dg-page-size ></clr-dg-page-size>
    
      </clr-dg-pagination>
    </clr-dg-footer>
</clr-datagrid>
<app-delete-user *ngIf="showAlert" [userId]="userp"(saved)="saveAction()" (delete)="closeAction()"></app-delete-user>
</section>
      

  
  
  
